:root {
  /* color */
  --pink: #f381ba;
  --blue: #4b8bca;
  --yellow: #ecdb41;
  --green: #21664c;
  --white: #ffffff;

  /* size */
  --size-button: 60px;
  --font-size: 18px;
  --base-space: 8px;
  --size-border-radius: 4px;
  --size-cloth: 60%;
  --size-thumbnail: 50px;

  /* animation */
  --animation-duration: 0.3s;
}

body {
  height: 100vh;
  background-color: var(--green);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: all var(--animation-duration) ease;
}

.btn:hover,
.logo:hover {
  transform: scale(1.1);
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: all var(--animation-duration) ease;
  margin-right: var(--base-space);
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border-radius);
}

.pink {
  background-color: var(--pink);
}

.blue {
  background: var(--blue);
}

.yellow {
  background: var(--yellow);
}

.clothes {
  width: var(--size-cloth);
  height: var(--size-cloth);
  list-style-type: none;
  padding-left: 0;
  overflow-y: scroll;
}

.cloth {
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}

.item__thumnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}

.item__description {
  margin-left: var(--base-space);
  font-size: var(--font-size);
}

.invisible {
  display: none;
}
